<%= form_for @blog do |form| %>
  <teble class='table table-striped table-hover table-border'>
  <tr>
    <th style="width: 150px;">
      标题
    </th>
    <td>
      <%= form.text_field :title,class: "form-control" %>
    </td>
  </tr>
  <tr>
    <th>
      content
    </th>
    <td>
      <%= form.text_field : contenet,class: "form-control" %>
    </td>
  </tr>
<%= end %>
