<%= form_for @blog do |form| %>

  <table class='table table-striped table-hover table-bordered'>
    <tr>
      <th style="width: 150px;">
        标题
      </th>
      <td>
        <%= form.text_field :title, class: "form-control" %>
      </td>
    </tr>

    <tr>
      <th>
        内容
      </th>
      <td>
        <%= form.text_field :content , class: "form-control" %>
        <%#= form.text_area :content, size: "170x30" %>
      </td>
    </tr>
  </table>
  <%= form.submit "确定", class: 'btn btn-primary btn-sm' %>
<% end %>


