<h3>详情页面</h3>

<table class='table table-striped table-hover table-border'>
  <tr>
    <th style="width:150px;">
      标题
    </th>
    <td>
      <%= @blog.title %>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th>
      内容
    </th>
    <td>
      <%= @blog.content %>
    </td>
    <td>
    </td>
  </tr>
</table>

<br/>
<%= link_to'返回',blogs_path, class: 'btn btn-primary' %>
