<!-- 登录页面的版心 -->
<%= form_tag '/logins', method: 'post' do %>
  <h3>登录</h3>
  <span>用户名:</span>
  <%= text_field_tag :username %> <br/>
  </div>
  <span>密码: </span>
  <%= password_field_tag :password %> <br/>
  </div>
  <%= submit_tag '登录' %>
  </div>
<% end %>
