<h3>xinjianyemian</h3>

<form action="" method="POST">
  shurushuming:
  <input type="text" name="book_name"/>
  <input type="submit" value="queding"/>
</form>

<br/>

<a href="/books/list">fanhui</a>
<a href='<%= list_books_path %>'>fanhui</a>
<%= link_to "fanhui",list_books_path %>
<%= link_to "fanhui",'/books/list' %>
