<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>琳琳的博客</title>
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="renderer" content="webkit" />
    <meta property="og:title" content="琳琳的博客" />
    <meta name="keywords" content="个人网站模板、企业网站模板分享">
    <meta name="description" content="琳琳的博客是一个分享网站模板和一些学习及生活中事情的地方。">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
</head>

<body style='overflow: auto;'>
  <div class="base_header">
    <div class="base_header_content">

      <div class="base_header_nav">

      </div>

      <!--手机导航部分-->

      <div class="base_nav_menu" id="base_nav_menu" bind_click="true"><span bind_click="true"></span></div>

      <div class="base_nav_zhezao"></div>

    </div>
  </div>

  <!--base列表页身体部分开始-->
  <div class="base_content_body">
    <!--base列表页身体部分居中显示-->
    <div class="base_content_content clearfix">
      <!--base列表页身体部分的左边部分设置宽度-->
      <div class="base_content_left">

        <!--base列表页身体部分最新博客盒子-->
        <div class="base_list_box wow zoomIn" data-wow-duration="1s">

          <ul>

            <li class="wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">

              <div class="base_list_box_title">

                <div class="base_list_box_message clearfix">

                  <div class="left">

                    <h1>这里是页面的正文, starts</h1>
                    <%= yield %>
                    <h1>这里是页面的正文, ends </h1>

                  </div>


                </div>

            </li>
          </ul>



              </div>

        </div>

        <!--base列表页身体右边部分-->
        <div class="base_content_right">

          <div class="base_content_right_item" id="base_content_right_down">
            <div class="base_search">
              <form name="searchform" class="search_form" method="post" action="#" target="_blank">
                <input type="text" class="search_text" required="required" name="keyboard" placeholder="输入关键字搜索">
                <input type="hidden" name="tbname" value="news">
                <input type="hidden" name="show" value="title,smalltext">
                <input type="hidden" name="tempid" value="1">
                <input type="hidden" name="classid" value="1,4,9">
                <input type="submit" class="search_btn" value="" title="搜索">
                <i class="fa fa-search"></i>
              </form>
            </div>




          </div>



        </div>

      </div>

    </div>


    <!--一键回到顶部的box-->
    <div class="go_top"><i class="fa fa-angle-up"></i></div>

    <div class="base_footer">
      <ul>
        <li><a href="https://wpa.qq.com/msgrd?v=3&uin=446157433&site=qq&menu=yes" target="_blank" title="QQ:446157433"  class="base_footer_qq"><i class="fa fa-qq"></i></a></li>
        <li><a href="mailto:446157433@qq.com" target="_blank" title="邮箱：446157433" class="base_footer_email"><i class="fa fa-envelope"></i></a></li>
        <li><a href="javascript:void(0)" title="扫描微信二维码联系我们" class="base_footer_weixin"><i class="fa fa-weixin"></i><img src="img/erweima.png"></a></li>
      </ul>

      <span class="base_footer_text">Copyright © 2019-2020 Power by 琳琳的博客</span>
      <span class="base_footer_text">ICP备案号：<a href="http://www.beian.miit.gov.cn/">XXXXXXXXXX</a></span>
    </div>


</body>
</html>



