<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="renderer" content="webkit" />
    <meta property="og:title" content="琳琳的博客" />
    <title>琳琳的博客</title>
    <meta name="keywords" content="个人网站模板、企业网站模板分享">
    <meta name="description" content="琳琳的博客是一个分享网站模板和一些学习及生活中事情的地方。">

<!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
    <link rel="stylesheet" href="/blog_css/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/base.js"></script>
</head>
<body>
  <%= yield %>
  <textarea name="blog_content"></textarea>
  <script>
    CKEDITOR.replace( 'blog_content' );
  </script>
  <!--index页面的身体部分-->
  <div class="index_body">
    <!--index页面的1280content部分-->
    <div class="index_body_content">
      <!--index页面循环向左移动盒子开始部分-->
      <div class="index_side_box">
        <!--index页面超宽盒子开始部分-->
        <div class="super_width_box">
          <!--第一个展示ul-->
          <ul class="ul_one">

            <!--不用放任何元素，js脚本会自动添加-->
            <ul class="ul_two"></ul>
        </div>
      </div>
    </div>
  </div>
  <!--index页面的右侧隐藏的部分，只在手机端显示-->
  <div class="base_content_right" style="width: 0;visibility: hidden;height: 0;">

    <div class="base_content_right_item" id="base_content_right_down">
      <div class="base_search">
        <form name="searchform" class="search_form" method="post" action="#" target="_blank">
          <input type="text" class="search_text" required="required" name="keyboard" placeholder="输入关键字搜索">
          <input type="hidden" name="tbname" value="news">
          <input type="hidden" name="show" value="title,smalltext">
          <input type="hidden" name="tempid" value="1">
          <input type="hidden" name="classid" value="1,4,9">
          <input type="submit" class="search_btn" value="" title="搜索">
          <i class="fa fa-search"></i>
        </form>
      </div>
  <!--index页面的底部部分-->
  <div class="index_footer">
    <div class="base_footer">
      <ul>
        <li><a href="https://wpa.qq.com/msgrd?v=3&uin=446157433&site=qq&menu=yes" target="_blank" title="QQ:446157433"  class="base_footer_qq"><i class="fa fa-qq"></i></a></li>
        <li><a href="mailto:446157433@qq.com" target="_blank" title="邮箱：446157433" class="base_footer_email"><i class="fa fa-envelope"></i></a></li>
        <li><a href="javascript:void(0)" title="扫描微信二维码联系我们" class="base_footer_weixin"><i class="fa fa-weixin"></i><img src="img/erweima.png"></a></li>
      </ul>

      <span class="base_footer_text">Copyright © 2019-2020 Power by 琳琳的博客</span>
      <span class="base_footer_text">ICP备案号：<a href="http://www.beian.miit.gov.cn/">XXXXXXXXXX</a></span>
    </div>
  </div>

</body>
</html>
